astropy==5.3.4
beautifulsoup4==4.12.3
matplotlib==3.8.3
numpy>=1.26.4
pandas==2.2.1
tqdm==4.66.2
requests==2.31.0
gdown==4.7.1
scipy==1.15.2
shapely==2.1.0
scikit-image==0.25.2
tensorflow
seaborn==0.13.2